# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
*.env.*
firebase-service-account.json
CLAUDE.md
HANDOFF.md

node_modules/
package-lock.json
.claude/
.idea/
.vscode/
claude.md

frontend/jaibaan/build/
frontend-mobile/build/
frontend-mobile/linux/flutter/generated_plugin_registrant.*
frontend-mobile/linux/flutter/generated_plugins.cmake
frontend-mobile/macos/Flutter/GeneratedPluginRegistrant.swift
frontend-mobile/windows/flutter/generated_plugin_registrant.*
frontend-mobile/windows/flutter/generated_plugins.cmake
