# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
backend/firebase-service-account.json

frontend/jaibaan/

node_modules/
package-lock.json
.claude/
.idea/
.vscode/
claude.md
*.md

frontend-mobile/linux/flutter/generated_plugin_registrant.*
frontend-mobile/linux/flutter/generated_plugins.cmake
frontend-mobile/macos/Flutter/GeneratedPluginRegistrant.swift
frontend-mobile/windows/flutter/generated_plugin_registrant.*
frontend-mobile/windows/flutter/generated_plugins.cmake
